**/node_modules
client/build
client/coverage
client/test-results
client/playwright-report
client/e2e
api/dist
api/coverage
packages/contracts/dist
**/.turbo
docs
.github
.git
**/.env
**/.env.*
*.log
.pnpm-store
.vite
