[Unit]
Description=Periodically mirror GitHub repositories to Gitea

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
Persistent=true
RandomizedDelaySec=2min

[Install]
WantedBy=timers.target
