# Auto-provision Prometheus as default datasource (requires Prometheus stack on monitor network).
apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
