*
!requirements-cpu.txt
!requirements-opencv.txt
!requirements-pystemon.txt
!requirements-runtime.txt
!ail-dark-mode.css
!ail-dark-mode.js
!lacus-entrypoint.sh
!lacus-generic.json
!lacus-supervisord.conf
!torrc
!ail-framework-docker/
!ail-framework-docker/ail-framework/
!ail-framework-docker/ail-framework/**

**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/*.egg-info
**/.eggs
